.contenedor_volver {
    position: relative;
}

.volver {
    background-color: #ff4f5a;
    padding: 7px 11px;
    border-radius: 0px 0px 8px 8px;
    color: white;
    font-size: 14px;
    position: fixed;
    left: 50%;
    top: 0;
}

.volver a {
    color: white;
    text-decoration: none;
}