* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
	background-image: url("../img/top_good_food.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 25px;
    margin: 0%;
}

h1 {
    font-size: 56px;
    line-height: 105px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    text-align: center;
}

.texto_top {
    text-align: center;
    font-size: 33px;
    font-weight: 300;
    color: #373737;
    font-family: 'Lora', serif;
    font-style: italic;
    margin-top: -17px;
    line-height: 44px;
    letter-spacing: 1px;
}

.nav {
    background-color: #ff9d5c;
    font-family: 'Roboto', sans-serif;
    padding: 17px;
    text-align: center;
    color: #ffffff;
}

.botones {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 6px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 70px;
  }

.par1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #4c4c4c;
    padding-left: 30px;
    font-weight: 300;
    line-height: 28px;
}

p.capital::first-letter {
    float: left;
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: 'Lora', serif;
    font-size: 70px;
    line-height: 70px;
    margin-right: 6px;
}

.imagen1 {
    float: left;
    width: 500px;
    border-radius: 8px;
}

.borde_separacion {
    border-top-style: dotted;
    border-top-color: #ddd;
    border-top-width: 3px;
}

.imagen_food {
    width: 406px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 400;
    border-bottom: dotted #ff9d5c;
    padding-bottom: 20px;
}

.m_derecha {
    margin-right: 40px;
}

.pie {
    background-color: #ff9d5c;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.link_pie {
    color: #ffffff !important;
    text-decoration: none;
}

.limpiar {
    clear: both;
}

