@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

p {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

/* Navbar */

.fondo_nav {
  background-color: #1d3840;
}

.nav-item {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.823);
}

.dropdown-menu {
  background-color: #1d3840;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.823);
}

/* Hero Section */

#Hero-Section {
  /* background-image: url("../img/slide.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.subtitulo_hero {
  font-family: 'Roboto Slab', serif;
  line-height: 35px;
  font-size: 2rem;
  font-weight: 400;
}

.btn-hero1 {
  background-color: #ff4f5b00;
  border: 2px #ff4f5a dotted;
  font-family: 'Roboto', sans-serif;
}

.btn-hero1:hover {
  background-color: #ff4f5a;
  border-color: #ff4f5a;
}

/* Acerca de mi */

.img_acerca {
  width: 275px;
}

h2 {
  color: #1d3840;
  font-family: 'Roboto Slab', serif;
}

h3 {
  color: #1d3840;
  font-family: 'Roboto Slab', serif;
}

/* Portafolio-Grafico */

#Portafolio-Grafico {
  background-color: #1d3840;
}

.btn-portafolio {
  border: 1px solid #ff4f5a;
  background-color: #ff4f5a;
  color: white;
}

.btn-portafolio:hover {
  background-color: #df424c;
  border: 1px solid #df424c;
  color: white;
}

.card-title {
  color: #1d3840;
  font-family: 'Roboto Slab', serif;
}

.card-text {
  color: #3e3e3e;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

/* Contacto */

#Contacto form label {
  font-weight: 600;
  color: #1d3840;
  font-family: 'Roboto Slab', serif;
}

.form-control::placeholder {
  color: #c9cbcc;
  opacity: 1;
}

.btn-contacto {
  background-color: #ff4f5a;
  border-color: #ff4f5a;
}

.btn-contacto:hover {
  background-color: #df424c;
  border-color: #df424c;
}

/* Competencias*/

#Competencias {
  background-color: #eee;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}


/* Footer */

footer {
  background-color: #1d3840;
}


@media (max-width: 575px) {

  .navbar-brand{
    width: 220px;
  }

  #Hero-Section {
    background-image: url("../img/slide2.jpg");
  } 

  .slick-slide img {
    width: 50px;
  }

  .slick-slide {
    margin: 0px 20px;
  }

}

@media (min-width: 576px) {

  .subtitulo_hero {
    line-height: 40px;
    font-size: 2.2rem;
  }

  #Hero-Section {
    background-image: url("../img/slide.jpg");
  }

  .slick-slide img {
    width: 60px;
  }

  .slick-slide {
    margin: 0px 20px;
  }

}

@media (min-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .subtitulo_hero {
    line-height: 50px;
    font-size: 2.7rem;
  }

  .slick-slide img {
    width: 60px;
  }

  .slick-slide {
    margin: 0px 30px;
  }

}

@media (min-width: 992px) {

  .subtitulo_hero {
    line-height: 58px;
    font-size: 3.5rem;
  }

  .slick-slide img {
    width: 60px;
  }

  .slick-slide {
    margin: 0px 30px;
  }

}

@media (min-width: 1200px) {

  .subtitulo_hero {
    line-height: 75px;
    font-size: 5rem;
  }

  .slick-slide img {
    width: 60px;
  }

  .slick-slide {
    margin: 0px 50px;
  }

}



